button:hover {
  opacity: 0.2;
}
.gradient-custom {
  background: linear-gradient(to bottom, red, blue, white)
}
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
}
